VITE_API_URL=https://hokoapp.in
VITE_SOCKET_URL=https://hokoapp.in
VITE_PUBLIC_APP_URL=https://hokoapp.in
VITE_ENABLE_NATIVE_PUSH=true
VITE_GOOGLE_CLIENT_ID=340021652429-qu9hohn3j0hu9uv437skbc3m53dl7b06.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_ID_FALLBACK=482189438712-3si7monkd64341m7qh90hqevmdhh75iv.apps.googleusercontent.com


